<template>
  <div class="board-view-container">
    <div class="board-container">
      <div class="board-upper">
        <div
          v-for="colIdxPlus1 in boardWidth"
          :key="colIdxPlus1"
          class="board-upper__cell"
          @mouseenter="() => predictDrop(colIdxPlus1 - 1)"
          @mouseleave="removeDropPrediction"
          @click="() => drop(colIdxPlus1 - 1)"
        >
          ↓
        </div>
      </div>
      <div v-for="(row, rowIdx) in board.cells" :key="rowIdx" class="board-row">
        <div v-for="(cell, colIdx) in row" :key="colIdx" class="board-cell">
          <div
            v-if="cell.hasRedPiece()"
            class="piece piece--red"
            :class="{ 'piece--connected': isConnectedPiece(colIdx, rowIdx) }"
          ></div>
          <div
            v-else-if="cell.hasBluePiece()"
            class="piece piece--blue"
            :class="{ 'piece--connected': isConnectedPiece(colIdx, rowIdx) }"
          ></div>
          <div
            v-else-if="
              dropPrediction !== null &&
                dropPrediction.x === colIdx &&
                dropPrediction.y === rowIdx
            "
            class="piece piece--phantom"
            :class="{
              'piece--phantom--red': dropPrediction.isRed(),
              'piece--phantom--blue': dropPrediction.isBlue()
            }"
          ></div>
          <div v-else class="empty"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Board, PieceColor } from "@/ts/board";
import { Player } from "@/ts/player";
import _ from "lodash";

const boardWidth = 7;
const boardHeight = 6;
const numPiecesToConnect = 4;

class DropPrediction {
  readonly x: number;
  readonly y: number;
  readonly color: PieceColor;

  constructor(x: number, y: number, color: PieceColor) {
    this.x = x;
    this.y = y;
    this.color = color;
  }

  isRed(): boolean {
    return this.color === PieceColor.Red;
  }

  isBlue(): boolean {
    return this.color === PieceColor.Blue;
  }
}

export default defineComponent({
  name: "BoardView",
  data(): {
    boardWidth: number;
    boardHeight: number;
    board: Board;
    players: Player[];
    currentTurn: number;
    dropPrediction: DropPrediction | null;
  } {
    return {
      boardWidth: boardWidth,
      boardHeight: boardHeight,
      board: new Board(boardWidth, boardHeight, numPiecesToConnect),
      players: [new Player(0, PieceColor.Red), new Player(1, PieceColor.Blue)],
      currentTurn: 0,
      dropPrediction: null
    };
  },
  computed: {
    currentPlayer(): Player {
      return this.players[this.currentTurn];
    },
    connectedPiecePositions(): { x: number; y: number }[] {
      const all = this.board.connections.flatMap(connection =>
        connection.cells.map(cell => {
          return {
            x: cell.x,
            y: cell.y
          };
        })
      );
      console.log(`all=${JSON.stringify(all)}`);
      const uniques = _.uniqWith(all, _.isEqual);
      console.log(`uniques=${JSON.stringify(uniques)}`);
      return _.sortBy(uniques, ["x", "y"]);
    }
  },
  methods: {
    predictDrop(x: number) {
      const y = this.board.getYIfDropped(x);
      if (y === null) return;
      this.dropPrediction = new DropPrediction(
        x,
        y,
        this.currentPlayer.pieceColor
      );
    },
    removeDropPrediction() {
      this.dropPrediction = null;
    },
    drop(x: number) {
      const dropped = this.board.dropPiece(x, this.currentPlayer.pieceColor);
      if (dropped) this.proceedToNextTurn();
    },
    proceedToNextTurn() {
      let turn = this.currentTurn + 1;
      if (turn >= this.players.length) turn = 0;
      this.currentTurn = turn;
      console.log(`currentTurn=${this.currentTurn}`);
    },
    isConnectedPiece(x: number, y: number): boolean {
      const found = this.connectedPiecePositions.find(
        p => p.x === x && p.y === y
      );
      return found !== undefined;
    }
  }
});
</script>

<style scoped lang="scss">
$cellWidth: 50px;
$cellHeight: 50px;

.board-view-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.board-container {
  overflow: visible;
  flex: 1 0 auto;
  width: fit-content;

  display: flex;
  flex-flow: column nowrap;
  //justify-content: stretch;
  //align-items: stretch;
}

.board-upper {
  flex: 0 0 40px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;

  & .board-upper__cell {
    flex: 0 0 $cellWidth;

    cursor: pointer;
    user-select: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

.board-row {
  flex: 0 0 $cellHeight;

  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;

  & .board-cell {
    flex: 0 0 $cellWidth;

    cursor: default;
    user-select: none;

    background-color: #e3e3e3;

    & .piece {
      width: $cellWidth - 2px;
      height: $cellHeight - 2px;

      margin: 1px;

      border-radius: 4px;

      &.piece--red {
        background-color: #e05151;
      }

      &.piece--blue {
        background-color: #4a4ae0;
      }

      &.piece--connected {
        border-radius: 20px;
      }

      &.piece--phantom {
        opacity: 0.3;

        &.piece--phantom--red {
          background-color: #e05151;
        }

        &.piece--phantom--blue {
          background-color: #4a4ae0;
        }
      }
    }

    & .empty {
      width: $cellWidth;
      height: $cellHeight;
    }
  }
}
</style>
