<template>
  <BoardView />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import BoardView from "@/components/BoardView.vue";

export default defineComponent({
  name: "App",
  components: {
    BoardView
  }
});
</script>

<style lang="scss">
@import "~destyle.css";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  height: 100%;
  max-height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
</style>
